<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Fácil Comércio - Gestão de Loja 2025 - Desenvolvido por <a href="https://ferdz.com.br" target="_blank">Ferdz Agencia Digital</a></span>
        </div>
    </div>
</footer>